<header>
    <ui5-shellbar id="shellbar" primary-title="Corporate Portal" (profileClick)="handleProfileClick($event)">
        <ui5-button slot="startButton" icon="home" design="Transparent" routerLinkActive="active"
            [routerLink]="['home']">Home</ui5-button>
        <ui5-button slot="startButton" icon="employee" design="Transparent" routerLinkActive="active"
            [routerLink]="['movies']">Movies</ui5-button>
        <ui5-button slot="startButton" icon="settings" design="Transparent" routerLinkActive="active"
            [routerLink]="['about']">About</ui5-button>
        <ui5-avatar slot="profile">
            <img src="https://sap.github.io/ui5-webcomponents/images/avatars/woman_avatar_5.png" />
        </ui5-avatar>
        <ui5-input slot="searchField"></ui5-input>
    </ui5-shellbar>

    <ui5-popover #profilePop opener="shellbar" id="profile-pop" class="app-bar-profile-popover" horizontal-align="Start"
        placement-type="Start">
        <div class="profile-settings">
            <ui5-avatar size="M" initials="JD"></ui5-avatar>
            <div class="profile-text">
                <ui5-title level="H3">John Doe</ui5-title>
                <ui5-label>Angular Developer</ui5-label>
            </div>
        </div>

        <div class="profile-settings-list">
            <ui5-list mode="SingleSelect" separators="None">
                <ui5-li icon="settings" data-key="settings">Settings</ui5-li>
                <ui5-li icon="sys-help" data-key="help">Help</ui5-li>
                <ui5-li icon="log" data-key="sign-out">Sign out</ui5-li>
            </ui5-list>
        </div>
    </ui5-popover>

</header>